.categories-section {
  padding: 40px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  max-width: 1360px;
}

.category-card {
  position: relative;
  width: 317px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.category-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.casual {
  background: url("../../img/produtos/casual.jpg") no-repeat center / cover;
}
.esporte {
  background: url("../../img/produtos/esporte.jpg") no-repeat center / cover;
}
.moderno {
  background: url("../../img/produtos/moderno.jpg") no-repeat center / cover;
}
.futurista {
  background: url("../../img/produtos/futurista.jpg") no-repeat center / cover;
}

@media (max-width: 500px) {
  .categories-card {
    width: 100%;
  }
}
